@model IList<Entidades.OrdemServico>

<br />
<br />

<button class="btn btn-info" onclick="Cadastrar();">Cadastrar </button>

<br />
<br />

<table class="table table-hover">
    <thead>
        <tr style="width:300px;">
            <th>Nome do Codomínio</th>
            <th>Descrição do Serviço</th>
            <th>Nº OS</th>
            <th>Nº Condomínio</th>
            <th>Solicitante</th>
            <th>Gerente</th>
            <th>Núcleo</th>
            <th>Data de Solicitação</th>
            <th>Data de Envio</th>
            <th>Data de Liberação</th>
            <th>Prazo</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Fornecedor.Nome</td>
                <td>@u.DescricaoServico</td>
                <td>@u.NumeroOrdemServico</td>
                <td>@u.NumeroCondominio</td>
                <td>@u.Solicitante</td>
                <td>@u.Gerente</td>
                <td>@u.Nucleo</td>
                <td>@u.DataSolicitacao.ToString("dd/MM/yyyy")</td>
                <td>@u.DataEnvio.ToString("dd/MM/yyyy")</td>
                <td>@u.DataLiberacao.ToString("dd/MM/yyyy")</td>
                <td>@u.Prazo.ToString("dd/MM/yyyy")</td>
                <td>@u.Status</td>
                <td>@Html.ActionLink("Editar", "Editar", new { id = u.Id })</td>
                <td>@Html.ActionLink("Excluir", "Excluir", new { id = u.Id })</td>
                <td>@Html.ActionLink("Desativar", "Desativar", new { id = u.Id })</td>
            </tr>
        }
    </tbody>
</table>


@section scripts{
    <script>
        function Cadastrar() {
            window.location.href = '@Url.Action("PreencherOrdemServico", "OrdemServico")';
        }
    </script>
}   