@model IList<Entidades.Fornecedor>

<br />
<br />

<div style="margin-top:30px; height:50px;">
    @Html.Label("Nome: ")
    @Html.TextBox("nome", "", new { id = "nome", style = "margin-bottom:40px;" })

    @Html.Label("Email: ", new { style = "margin-bottom:40px;  padding-left: 10px;" })
    @Html.TextBox("email", "", new { id = "email", style = "margin-bottom:40px; margin-right: 10px;" })

    <button style="clear:both;" class="btn btn-info" onclick="Buscar();"> Buscar </button>
</div>

<button class="btn btn-info" onclick="Cadastrar();">Cadastrar</button>

<br />
<br />

<table class="table table-hover">
    <thead>
        <tr style="width:300px;">
            <th>Nome</th>
            <th>Nº Fornecedor</th>
            <th>Telefone</th>
            <th>Nome do Responsável</th>
            <th>Email</th>
            <th>Descrição</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Nome</td>
                <td>@u.NumeroFornecedor</td>
                <td>@u.Telefone</td>
                <td>@u.NomeResponsavel</td>
                <td>@u.Email</td>
                <td>@u.Descricao</td>
                <td>@Html.ActionLink("Editar", "Editar", new { id = u.Id })</td>
                <td>@Html.ActionLink("Excluir", "Excluir", new { id = u.Id })</td>
                <td>@Html.ActionLink("Desativar", "Desativar", new { id = u.Id })</td>
            </tr>
        }
    </tbody>
</table>


@section scripts{
    <script>
        function Cadastrar() {
            window.location.href = '@Url.Action("PreencherCadastro", "Fornecedor")';
        }

        function Buscar() {
            $.ajax({
                url: '@Url.Action("Buscar", "Fornecedor")',
                type: "post",
                dataType: "html",
                data: {
                    nome: $('#nome').val(),
                    email: $('#email').val()

                },
                success: function (data) {

                    $("#mercadoriaTable").html(data);
                }
            });
        }

    </script>
}   