@model IList<Entidades.Fornecedor>

@*@model PagedList.IPagedList<Entidades.Fornecedor>
    @using PagedList.Mvc;
    @using PagedList;*@

<style>
    .loading {
        background: url(~/Content/images/loading.gif);
    }
</style>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<br />
<br />

<button class="btn btn-info" onclick="Cadastrar();">Cadastrar</button>

<button class="btn btn-info" style="background-color: #70db70;" onclick="ExportarExcel();">Exportar</button>

<br />

<div style="margin-top:30px; height:50px;">

    <label for="nomeFornecedor">Nome do Fornecedor: </label>
    <input type="text" name="Nome do Fornecedor" id="nomeFornecedor" style="padding-right: 10px;" />

    <button style="clear:both; background-color: #ff9933;" class="btn btn-info" onclick="atualizarPagina();">Buscar</button>

</div>

<div style="float:left; clear: both; margin: 0 0 10px 0;">
    <label for="ExibirConteudosInativos" style="height: 30px; line-height: 36px; display: block;">
        <input type="checkbox" id="exibirConteudosInativos" style="display: block; float: left; margin-right: 10px; height: 30px;"" />
        Exibir Inativos
    </label>
</div>

<br />

<div id="carregando">
    <h5 style="width: 100px; margin-left: 385px; margin-top: 65px;">
        <img src="@Url.Content("~/Content/images/loading.gif")" />
    </h5>
</div>

<div id="listaFornecedores">

</div>

@*<div id="paginacao">

        Página @Model.PageNumber de @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Buscar", "Fornecedor", new { pagina = page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "#resultadoBusca" }))

    </div>*@

@section scripts{
    <script src="~/Scripts/sweetalert.min.js"></script>

    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert/sweetalert.css">

    <script>

        $(function () {
            atualizarPagina();

            $('#exibirConteudosInativos').click(function () {
                atualizarPagina();
            });
        });

        function Cadastrar() {
            window.location.href = '@Url.Action("PreencherCadastro", "Fornecedor")';
        }

        function ExportarExcel() {
            $.ajax({
                url: '@Url.Action("Exportar", "Fornecedor")',
                type: "post",
                dataType: "html",
                data: {
                    nome: $('#nomeFornecedor').val(),
                },
            });
        }

        function atualizarPagina() {

            $('#listaFornecedores').hide();
            $('#carregando').show();

            $.ajax({
                url: '@Url.Action("Buscar", "Fornecedor")',
                type: "post",
                dataType: "html",
                data: {
                    nome: $('#nomeFornecedor').val(),
                    ativo: $('#exibirConteudosInativos').prop('checked')
                },
                success: function (data) {
                    $('#listaFornecedores').html(data);
                    $('#carregando').hide();
                    $('#listaFornecedores').show();
                }
            });
        }

        function confirmarInativacao(id) {
            swal({
                title: "Inativar",
                text: "Você tem certeza que deseja inativar esse fornecedor?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Sim, desejo inativar",
                closeOnConfirm: false
            },

            function () {
                $.ajax({
                    url: '@Url.Action("Inativar", "Fornecedor")',
                    type: "post",
                    dataType: "html",
                    data: {
                        id: id,
                    },
                    success: function (data) {
                        if (data == "ok") {
                            swal("Inativado!", "Seu fornecedor foi inativado com sucesso!", "success");
                            atualizarPagina();
                        }
                    }
                });

            });
        }

        function confirmarAtivacao(id) {
            swal({
                title: "Ativar",
                text: "Você tem certeza que deseja deixar esse fornecedor como Ativo?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Sim, desejo Ativar",
                closeOnConfirm: false
            },

            function () {
                $.ajax({
                    url: '@Url.Action("Ativar", "Fornecedor")',
                    type: "post",
                    dataType: "html",
                    data: {
                        id: id,
                    },
                    success: function (data) {
                        if (data == "ok") {
                            swal("Ativo!", "Seu fornecedor foi Ativado para uso com sucesso!", "success");
                            atualizarPagina();
                        }
                    }
                });

            });
        }

    </script>
}   