@model IList<Entidades.Fornecedor>

<br />
<br />

<button class="btn btn-info" onclick="Cadastrar();">Cadastrar</button>

<button class="btn btn-info" onclick="ExportarExcel();">Exportar</button>

<br />

<div style="margin-top:30px; height:50px;">

    @*@Html.Label("Nome: ")
    @Html.DropDownList("fltNome", new SelectList(ViewBag.forn, "Id", "Nome"), "Selecione", new { @class = "combobox filtro", style = "width: 130px" })*@

    @Html.Label("Nome: ")

    <button style="clear:both;" class="btn btn-info" onclick="Buscar();"> Buscar </button>
</div>

<br />

<div id="listaFornecedores">
</div>


@section scripts{
    <script>

    function Cadastrar() {
        window.location.href = '@Url.Action("PreencherCadastro", "Fornecedor")';
    }

    function ExportarExcel() {

        $.ajax({
            url: '@Url.Action("Exportar", "Fornecedor")',
            type: "post",
            dataType: "html",
            data: {
                nome: $('#fltNome').val()
            },
        });
    }

    function Buscar() {

        $('#listaFornecedores').hide();

        $.ajax({
            url: '@Url.Action("Buscar", "Fornecedor")',
            type: "post",
            dataType: "html",
            data: {
                nome: $('#fltNome').val()
            },
            success: function (data) {
                $('#listaFornecedores').html(data);
                $('#listaFornecedores').show();
            }
        });
    }

    </script>
}   